{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'Service/css/upload.css' %}">
    </head>
<body>
<div class="posting_contain1">
<form action="{% url 'testUpload'%}" method="POST" enctype="multipart/form-data">
    <div class="posting_contain2">
    {% csrf_token %}
    <input class="upload_title" type="text" value="제목" onclick=this.value=''>
    <div class="paper_contain">
    <div class="paper">
        <div class="paper-content">
            <textarea name="body"></textarea>
        </div>
    </div>
    </div>
    <input class="upload_image" type="file" name="image">
    <div class="upload-btn-wrapper">
            <button class="btn">Upload<input class="upload_submit" type="submit" name="submit" /></button>
    </div>
    </div>
</form>
</div>
</body>
</html>